<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Coding Tutorial</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


</head>
<body>
	<h1>Welcome to Coding Tutorial Channel</h1>

	<div id="signup">
		<p class="validateTips">All form fields are required.</p>
		<form id="signup-form" method="post" action="/">
			<fieldset>
				<label for="first-name">First Name</label>
				<input type="text" name="first_name" id="name" class="text ui-widget-content ui-corner-all">
				<label for="last-name">Last Name</label>
				<input type="text" name="last_name" id="name" class="text ui-widget-content ui-corner-all">
				<label for="email">Email</label>
				<input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" class="text ui-widget-content ui-corner-all">
				<label for="phone">Phone (No dashes!)</label>
				<input type="text" name="phone" id="name phone" class="text ui-widget-content ui-corner-all">
				<label for="age">Age</label>
				<input type="text" name="age" id="name age" class="text ui-widget-content ui-corner-all">
				<div class="tutor">
					<label for="tutor">Are you a tutor? (Check box)</label>
					<input type="checkbox" name="tutor" id="name tutor" class="text ui-widget-content ui-corner-all">
				</div>

				<!-- Allow form submission with keyboard without duplicating the dialog button -->
				<input type="submit" tabindex="-1">
			</fieldset>
		</form>
	</div>

<div id="login">
		<p class="validateTips">All form fields are required.</p>
		<form id="login-form" method="post" action="/sessions">
			<fieldset>

				<label for="email">Email</label>
				<input type="text" name="email" id="email2" class="text ui-widget-content ui-corner-all">
				<label for="password">Password</label>
				<input type="password" name="password" id="password2" class="text ui-widget-content ui-corner-all">
				<input type="submit" tabindex="-1">
			</fieldset>
		</form>
	</div>

	<div id="header">
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type= "button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Coding Tutorial Channel</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#contactinfo">Contact Information</a></li>
					</ul>
          <ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span id="signupPop">Signup</span></a></li>
						<li><a href="#"><span id="loginPop">Login</span></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<h4>You will be successful when you choose us!</h4>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="/popUp.js"></script>
	<!-- <script src="javascript.js"></script> -->
</body>
</html>
