<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tutors List Page</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../stylesheets/tutorslist.css">

</head>

<body>

  <% include ../public/partials/nav %>


  <div id="tutors">
    <h4 class="tutors">Here are our tutors that are currently available!</h4>
    <% users.forEach(function(user) { %>
       <a href="/profiles/<%= user._id %>" class="col-md-3 btn btn-info"><h3><%= user.first_name + " " + user.last_name %></h3></a>
     <% }) %>
   </div>
</body>
</html>
