body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url("http://theaustonian.com/uploads/full_photos/fullBelowCopy_LChaseBankView_Pan_1sdp.jpg");
  background-repeat:no-repeat;
  background-size:120%;
  /*overflow:hidden;*/
}

a {
  color: #00B7FF;
}

#profile_header {
  margin-top: 60px;
}

 h1{
  font-size:70px;
  letter-spacing: 1.5px;
  text-align: center;
  padding-top:300px;
  color:white;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

 h4{
  font-size:30px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 50px;
  color:white;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
label, input {
  display:block;
}

input.text {
  margin-bottom:12px;
  width:95%;
  padding: .4em;
}

fieldset {
  padding:0;
  border:0;
  margin-top:25px;
  }

#home {
  height:110%;
  width:100%;
}

#about {
height: 140%;
width:100%;
background-color: white;
}

#about p{
padding-top:30px;
font-size:30px;
color:black;
margin:80px;
}

#about h1{
padding-top:150px;
font-size: 60px;
color:black
}

#contactinfo {
height: 120%;
width:100%;
background-color: black;
}

#contactinfo h1{
font-size: 60px;
color:white;

}

#contactinfo p{
  font-size: 20px;
  color:white;
  text-align: center;

}
#contactinfo img{
  margin-top: 100px;
  margin-left: 280px;
}


.ui-dialog .ui-state-error {
  padding: .3em;
  }

.validateTips {
  border: 1px solid transparent;
  padding: 0.3em;
  }

@media screen and (max-width: 409px) {
  h1 { font-size: 20px;
       padding-top:10px;
       margin-left: 100px;
    }
   h4 { font-size: 15px;
        padding-top:10px;
        margin-left: 100px;
   }
   #home { height:22%;
           width:80%;
   }
   #contactinfo img{
    margin-top: 10px;
    margin-left: 40px;
 }
