body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-repeat:no-repeat;
  background-size:100%;
}

/*a {
  color: #00B7FF;
}*/

h4{
  font-size:30px;
  text-align: center;
  padding-top: 40px;
  color: black;
  font-family: 'Fjalla One', sans-serif;
}

h3 {
  text-align: center;
  /*width: 200px;*/
}

.panel {
  text-align: center;
  /*margin-left: 50px;*/
  padding-bottom: 70px;
  /*max-width: 400px;*/
  margin-left: auto;
  margin-right: auto;
}

form {
  margin-top: 30px;
  /*font-weight: bolder;*/
  font-size: 40px;
  /*border: none;*/
}

p {
  color: red;
  font-size: 20px;
  font-weight: 800;
}

/*input {
  border-radius: 5px;
  background-color: #2b54f3;
  border: none;
}*/

input[type="submit"] {
    font-family: FontAwesome;
    border: none;
    background-color: inherit;
    color: #2b54f3;
}

.leftpartone{
  width:40%;
  display: block;
}

.leftpartone img{
  width:80%;
  margin-top:50px;
}

.infoButtons {
  /*text-align: left;*/
  margin-left: -30px;
}

#first a:link, a:visited {
    background-color: #FF8C00;
    color: white;
    padding: 30px 100px;
    margin:0 0 40px 900px;
    text-decoration: none;
    display: inline-block;
}

#first a:hover, a:active {
    background-color: hotpink;
}

#credits {
  text-align: center;
  /*list-style: none;*/
}

#second a:link, a:visited {
    background-color: #FF4500;
    color: white;
    padding: 30px 100px;
    margin:0 0 60px 900px;
    text-decoration: none;
    display: inline-block;
}

#second a:hover, a:active {
    background-color: #FF6347;
}

#third a:link, a:visited {
    background-color: green;
    color: white;
    padding: 30px 90px;
    margin:0 0 0 900px;
    text-decoration: none;
    display: inline;
}

#third a:hover, a:active {
    background-color: gray;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@media screen and (max-width: 991px) {
    h4 { font-size: 30px;
        padding-top:10px;
        padding-left:20px;
   }
   .leftpartone {
     width: 90%;
   }
   .leftpart img{
    width:90%;
    margin:90px 0 0 50px;
   }

   .center {
     text-align: right;
   }
   .infoButtons .btn{
     font-size: 20px;
     margin: 0 auto;
     padding: 30px 200px;
     display: inline-block;
     /*vertical-align: middle;*/
   }
   #first {
     font-size: 20px;
     padding-left: -100px;
   }
   #creditsone {
     font-size: 20px;
     padding-left: -50px;
   }
   #third a:link, a:visited{
    margin:90px 0 40px 120px;
    padding: 20px 50px;
   }
   #first a:link, a:visited{
    margin:90px 0 40px 120px;
    padding: 20px 60px;
 }
